<ion-view view-title="IGGY">

<ion-content class="padding"> 

<div class="row">
  <div class="col-33"><img src="http://media4.popsugar-assets.com/files/2014/07/24/082/n/1922398/bdbe2c1b9ddbbf42_thumb_temp_image10906271406249584/i/Iggy-Azalea-Headlines-Video.jpg"></div>
    <div class="col-67">

     <div class="button-bar" >
      <a class="button" style="padding-left: 0px;padding-right: 0px;">Feelings</a>
      <a class="button" style="padding-left: 0px;padding-right: 0px;">Fans</a>
      <a class="button" style="padding-left: 0px;padding-right: 0px;">Faves</a>
    </div>
    

      <div class="button button-medium button-full button-stable">Edit Your Profile</div>
    </div>
</div>

<div class="row" style="background-color: energized>
  <div class="col"">About User</div>
</div>

<div class="button-bar">
  <a class="button button-small button-royal">desire</a>
  <a class="button button-small button-calm">gratitude</a>
  <a class="button button-small button-energized">challenge</a>
</div>





  <!--
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">SAD</div>
      <div class="item item-body">
        <div>
          Resigned from previous commitments.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">MAD</div>
      <div class="item item-body">
        <div>
          I don't like discussing code.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">GLAD</div>
      <div class="item item-body">
      <div>
        Happy TGIF!!!
      </div>
      </div>
    </div>
  </ion-content>

</ion-content>
-->
</ion-view>

