<ion-view view-title="IGGY">

<ion-content class="padding"> 

<div class="row">
  <div class="col-33"><img src="http://media4.popsugar-assets.com/files/2014/07/24/082/n/1922398/bdbe2c1b9ddbbf42_thumb_temp_image10906271406249584/i/Iggy-Azalea-Headlines-Video.jpg"></div>
    <div class="col-67">

     <div class="button-bar">
      <a class="badge">Feelings</a>
      <a class="badge">Fans</a>
      <a class="badge">Faves</a>
    </div>
    

      <div class="button button-medium button-full button-balanced" style="border-color: #0C8138; height: 20px">Edit Your Profile</div>
    </div>
</div>

<div class="row" style="background-color: energized">
  <div class="about">I hated school so bad. I only liked art class during high school. I was always smart.
</div>
</div>

<div class="button-bar">
  <a class="button button-small button-light">desire</a>
  <a class="button button-small button-balanced">gratitude</a>
  <a class="button button-small button-royal">challenge</a>
</div>

<div id="feelings">
    <div class="content">
      <strong>IGGY's</strong> <span style="color: #fff; background-color: #0C8138">challenge</span>: 
      <br>No money, No family, 16 in the middle of Miami...
    </div>

<div>
      <div class="appreciates">Appreciates</div>
      <div class="comments">Comments</div>
</div>
</div>

<section id="feelings">
    <div class="content">
      <strong>IGGY's</strong> <span style="color: #fff; background-color: #33CD5F">gratitude</span>: 
      <br>Love my fans!!
    </div>


      <div class="appreciates">Appreciates</div>
      <div class="comments">Comments</div>
  
</section>

<section id="feelings">
    <div class="content">
      <strong>IGGY's</strong> <span style="color: #0C8138; border: .5px solid #0C8138">desire</span>: 
      <br>Continue to perform and have fun :)
    </div>


      <div class="appreciates">Appreciates</div>
      <div class="comments">Comments</div>
  
</section>

<section id="feelings">
    <div class="content">
      <strong>IGGY's</strong> <span style="color: #fff; background-color: #33CD5F">gratitude</span>: 
      <br>Worked with Jenny from the Block #bigbigbooty
    </div>


      <div class="appreciates">Appreciates</div>
      <div class="comments">Comments</div>
  
</section>

<section id="feelings">
    <div class="content">
      <strong>IGGY's</strong> <span style="color: #fff; background-color: #33CD5F">gratitude</span>: 
      <br>8 hour slumber ZZZzzz...
    </div>


      <div class="appreciates">Appreciates</div>
      <div class="comments">Comments</div>
  
</section>

<section id="feelings">
    <div class="content">
      <strong>IGGY's</strong> <span style="color: #0C8138; border: .5px solid #0C8138">desire</span>: 
      <br>breakfast in bed
    </div>


      <div class="appreciates">Appreciates</div>
      <div class="comments">Comments</div>
  
</section>

<div id="feelings">
    <div class="content">
      <strong>IGGY's</strong> <span style="color: #fff; background-color: #0C8138">challenge</span>: 
      <br>Not happy with Eminem
    </div>

<div>
      <div class="appreciates">Appreciates</div>
      <div class="comments">Comments</div>
</div>
</div>


</ion-view>

